* {outline: none;
  cursor: default;}

body {display: block;
  margin: 0;
  padding: 0;
  color: #fff;
  font-family: sans-serif;
  font-size: 16px;
  background: #1d1f20;}

h1, h2, p {user-select: none;}
h1 {display: block;
  height: 40px;
  margin: 0 0 30px 0;
  line-height: 40px;}
h2 {display: block;
  height: 30px;
  margin: 0 0 20px 0;
  line-height: 30px;}

.page {display: none;
  max-width: 800px;
  margin: 20px auto;
  overflow: hidden;}
.page[state="open"] {display: block;}

.item {display: inline-block;
  line-height: 40px;}
.item .icon {display: inline-block;
  width: 40px;
  height: 40px;
  margin: 0 10px 0 0;
  background: url(../img/items.png);
  background-position: var(--x) var(--y);
  float: left;
  transform: scale(1);}

input[type="text"], input[type="number"] {height: 20px;
  padding: 5px;
  margin: 5px;
  font: unset;
  line-height: 20px;
  color: #fff;
  background: #494e50;
  border: none;
  border-radius: 3px 3px 0 0;
  box-shadow: 0 -1px 0 #8c9497 inset;
  cursor: text;}

button, input[type="submit"] {height: 20px;
  margin: 5px;
  padding: 5px 10px;
  line-height: 20px;
  font: unset;
  color: #fff;
  background: #494e50;
  box-shadow: 0 2px 5px rgba(0,0,0,0.3);
  border: none;
  border-radius: 3px;
  box-sizing: content-box;
  cursor: pointer;}

.itemsearch {display: block;}
.itemsearch .itemsearch-list {display: block;
  position: absolute;
  min-width: 200px;
  max-height: 300px;
  padding: 10px;
  background: #333638;
  box-shadow: 0 3px 20px 5px rgba(0,0,0,0.4);
  border-radius: 3px;
  z-index: 10;
  overflow: auto;}
.itemsearch .itemsearch-list:empty {display: none}
.itemsearch .itemsearch-list div {display: block;
  height: 40px;
  line-height: 40px;
  cursor: pointer;}
.itemsearch .itemsearch-list div * {pointer-events: none;}

.listings {width: 100%;
  margin: 20px 0;
  border-collapse: collapse;}
.listings td, .listings th {padding: 10px;
  text-align: left;
  border: 1px solid hsl(200 5% 22% / 1);}
